{{- if .Values.loki.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: loki
  namespace: {{ include "monitoring.namespace" . }}
  labels:
    {{- include "monitoring.loki.labels" . | nindent 4 }}
spec:
  type: {{ .Values.loki.service.type }}
  selector:
    {{- include "monitoring.loki.selectorLabels" . | nindent 4 }}
  ports:
    - name: http
      port: {{ .Values.loki.service.port }}
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 9096
      targetPort: grpc
      protocol: TCP
{{- end }}

