apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: {{ include "customer-service.fullname" . }}
  labels:
    {{- include "customer-service.labels" . | nindent 4 }}
  annotations:
    # 배포가 성공적으로 완료되면 Grafana에 알림 전송
    notifications.argoproj.io/subscribe.on-rollout-completed.grafana: ""
    # (선택) Blue-Green 전환이나 단계별 진행 상황도 보고 싶다면 추가
    notifications.argoproj.io/subscribe.on-rollout-step-completed.grafana: ""
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}

  # Blue/Green 전략
  strategy:
    blueGreen:
      activeService: {{ include "customer-service.fullname" . }}
      previewService: {{ include "customer-service.fullname" . }}-preview
      autoPromotionEnabled: false # 처음엔 false로 시작
      autoPromotionSeconds: 300    # 5분 후 자동 승격
      scaleDownDelaySeconds: 300   # 이전 버전 5분 후 삭제

      # 자동 검증 단계
      prePromotionAnalysis:
        templates:
            - templateName: blue-green-analysis
        args:
          - name: service-name
            value: my-app
          - name: namespace
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace

      # 승격 후 검증 (선택사항)
      postPromotionAnalysis:
        templates:
          - templateName: blue-green-analysis
        args:
          - name: service-name
            value: my-app
          - name: namespace
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
  #이전 애플리케이션 리비전의 최대 보존 개수 (디폴트:10)
  #revisionHistoryLimit: 2
  selector:
    matchLabels:
      {{- include "customer-service.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        {{- if .Values.istio.enabled }}
        sidecar.istio.io/inject: "true"
        {{- else }}
        sidecar.istio.io/inject: "false"
        {{- end }}
      labels:
        {{- include "customer-service.selectorLabels" . | nindent 8 }}
        {{ if .Values.istio.enabled }}
        version: {{ .Values.image.tag | default .Chart.AppVersion }}
        {{ end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      initContainers:
        - name: create-log-dir
          image: busybox:1.36
          command: ["sh", "-c", "mkdir -p /app/logs"]
          volumeMounts:
            - name: logs-dir
              mountPath: /app/logs
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}{{- if .Values.image.digest }}@{{ .Values.image.digest }}{{- else }}:{{ .Values.image.tag | default .Chart.AppVersion }}{{- end }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with .Values.command }}
          command: {{- toYaml . | nindent 10 }}
          {{- end }}
          {{- with .Values.args }}
          args: {{- toYaml . | nindent 10 }}
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.service.targetPort }}
              protocol: TCP
          envFrom:
            - configMapRef:
                name: {{ include "customer-service.fullname" . }}-config
            {{- if .Values.secrets }}
            - secretRef:
                name: {{ include "customer-service.fullname" . }}-secret
            {{- end }}
          {{- if .Values.extraEnv }}
          env: {{- toYaml .Values.extraEnv | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: logs-dir
              mountPath: /app/logs
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: http
            initialDelaySeconds: 180
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: http
            initialDelaySeconds: 180
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5
          resources:
            {{- toYaml .Values.resources | nindent 12 }}

          # Graceful Shutdown
          lifecycle:
            preStop:
              exec:
                command: [ "/bin/sh", "-c", "sleep 10" ]
      volumes:
        - name: logs-dir
          emptyDir: {}
      terminationGracePeriodSeconds: 30