{{- if .Values.telemetry.enabled }}
---
apiVersion: telemetry.istio.io/v1alpha1
kind: Telemetry
metadata:
  name: mesh-default
  namespace: {{ .Values.namespace.name }}
spec:
  tracing:
  - providers:
    - name: tempo
    randomSamplingPercentage: {{ .Values.telemetry.tracing.samplingRate }}
{{- end }}
