{{- if .Values.crds.install }}
# CRD 설치를 위한 Job (선택사항)
# Istio와 Gateway API CRD는 이미 설치되어 있어야 합니다.
# 이 템플릿은 CRD 설치 확인용입니다.
{{- if .Values.crds.gatewayAPI.install }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gateway-api-installer
  namespace: {{ include "istio.namespace" . }}
  labels:
    {{- include "istio.labels" . | nindent 4 }}
data:
  install.sh: |
    #!/bin/sh
    kubectl apply -f https://github.com/kubernetes-sigs/gateway-api/releases/download/{{ .Values.crds.gatewayAPI.version }}/standard-install.yaml
{{- end }}
{{- end }}

