apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaConnector
metadata:
  name: s3-sink-connector
  namespace: kafka
  labels:
    strimzi.io/cluster: c4-kafka-connect
spec:
  class: io.confluent.connect.s3.S3SinkConnector
  tasksMax: 1
  config:
    # Kafka
    topics: tracking-log
    connector.class: io.confluent.connect.s3.S3SinkConnector
    key.converter: org.apache.kafka.connect.storage.StringConverter
    value.converter: org.apache.kafka.connect.json.JsonConverter
    value.converter.schemas.enable: false

    # S3 설정
    s3.region: ap-northeast-2
    s3.bucket.name: c4-tracking-log
    s3.part.size: 5242880

    # 파일 형식
    format.class: io.confluent.connect.s3.format.json.JsonFormat
    flush.size: 1

    # IAM 인증 (IRSA 사용)
    aws.region: ap-northeast-2
    behavior.on.null.values: ignore
    storage.class: io.confluent.connect.s3.storage.S3Storage

    # 필요하면 Prefix 추가 가능
    # store.url: s3://c4-tracking-log