apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: c4-kafka
  namespace: kafka
spec:
  kafka:
    version: 4.1.0
    replicas: 3    # ✅ nodePools 없이 replicas 정의
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
    config:
      offsets.topic.replication.factor: 3
      transaction.state.log.replication.factor: 3
      transaction.state.log.min.isr: 2
      default.replication.factor: 3
      min.insync.replicas: 2

    storage:
      type: ephemeral

  entityOperator:
    topicOperator: {}
    userOperator: {}