{{- if .Values.secrets }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "saga-tracker.fullname" . }}-secret
  labels:
    {{- include "saga-tracker.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- range $key, $value := .Values.secrets }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
{{- end }}
