{{- if and .Values.grafana.enabled (not .Values.grafana.admin.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: grafana-admin
  namespace: {{ include "monitoring.namespace" . }}
  labels:
    {{- include "monitoring.grafana.labels" . | nindent 4 }}
type: Opaque
stringData:
  admin-user: {{ .Values.grafana.admin.user }}
  admin-password: {{ .Values.grafana.admin.password }}
{{- end }}

