{{- if .Values.grafana.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: {{ include "monitoring.namespace" . }}
  labels:
    {{- include "monitoring.grafana.labels" . | nindent 4 }}
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      {{- if .Values.grafana.datasources.prometheus.enabled }}
      - name: Prometheus
        type: prometheus
        access: proxy
        url: {{ .Values.grafana.datasources.prometheus.url }}
        isDefault: {{ .Values.grafana.datasources.prometheus.isDefault }}
        editable: true
        jsonData:
          timeInterval: 30s
          httpMethod: POST
      {{- end }}

      {{- if .Values.grafana.datasources.loki.enabled }}
      - name: Loki
        type: loki
        access: proxy
        url: {{ .Values.grafana.datasources.loki.url }}
        editable: true
        jsonData:
          maxLines: 1000
      {{- end }}

      {{- if .Values.grafana.datasources.tempo.enabled }}
      - name: Tempo
        type: tempo
        access: proxy
        url: {{ .Values.grafana.datasources.tempo.url }}
        editable: true
        jsonData:
          httpMethod: GET
          tracesToLogs:
            datasourceUid: Loki
            tags: ['job', 'instance', 'pod', 'namespace']
            mappedTags: [{ key: 'service.name', value: 'service' }]
            mapTagNamesEnabled: false
            spanStartTimeShift: '1h'
            spanEndTimeShift: '1h'
            filterByTraceID: false
            filterBySpanID: false
          serviceMap:
            datasourceUid: Prometheus
          nodeGraph:
            enabled: true
      {{- end }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboards
  namespace: {{ include "monitoring.namespace" . }}
  labels:
    {{- include "monitoring.grafana.labels" . | nindent 4 }}
data:
  dashboards.yaml: |
    apiVersion: 1
    providers:
      - name: 'default'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        updateIntervalSeconds: 10
        allowUiUpdates: true
        options:
          path: /var/lib/grafana/dashboards
{{- end }}

