{{- if .Values.grafana.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: {{ include "monitoring.namespace" . }}
  labels:
    {{- include "monitoring.grafana.labels" . | nindent 4 }}
spec:
  type: {{ .Values.grafana.service.type }}
  selector:
    {{- include "monitoring.grafana.selectorLabels" . | nindent 4 }}
  ports:
    - name: http
      port: {{ .Values.grafana.service.port }}
      targetPort: http
      protocol: TCP
{{- end }}

